.app {
  position: relative;
  margin: 0 auto;
  width: 720px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.movie-frame {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 1rem;
  height: calc(90vh - 40px);
}

.movie-data {
  justify-self: center;
  align-self: center;
  padding: 1rem;
}

.movie-img {
  margin: 0 auto;
  max-height: 60vh;
}

.buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.accept {
  color: green;
}

.reject {
  color: red;
}

.no-movies {
  grid-template-rows: 1fr;
}

.no-movies span {
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 760px) {
  .movie-frame {
    padding: 0;
    width: 100vw;
    height: calc(90vh - 40px);
    grid-template-rows: 1fr 10fr 1fr;
  }
}
